@import "tailwindcss";

@media (max-width: 430px) {
  .signup {
    font-size: 26px;
  }
  .signin {
    font-size: 26px;
  }
  .acc {
    font-size: 26px;
  }
  .admin{
    font-size: 23px;
  }
  .update{
    padding: 16px;
  }
}
